#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
}

body {
  font-family:
    'Montserrat',
    'Segoe UI',
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    Arial,
    sans-serif !important;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.container-xxl {
  padding-left: var(--container-pad-x) !important;
  padding-right: var(--container-pad-x) !important;
}

body.lock {
  overflow: hidden;
}
